# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
.env

# Database files (SQLite example)
*.db
*.sqlite3

# Logs
*.log

# Test coverage
.coverage
nosetests.xml
coverage.xml
*.cover

# IDE/Editor files
.vscode/
.idea/

# Temporary files
*.bak
*.swp
